@model IEnumerable<RecordReviews.Models.Review>

@{
    ViewData["Title"] = "Reviews";
   
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive-md">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Album)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CreationTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Album.AlbumTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationTime)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ReviewId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ReviewId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ReviewId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>