@model RecordReviews.Models.Search

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Search</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.type">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
