@model IEnumerable<RecordReviews.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageViews)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageViews)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtistID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
