@model IEnumerable<RecordReviews.Models.Artist>

@{
    ViewData["Title"] = "Artists";
}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        async function creatArtistImg(element) {
            var LastFmKey = "4a06f33fa225792783b9c7c2e6b9fde6";
            var name = $(element).attr('alt');
            var url = await encodeURI("https://ws.audioscrobbler.com/2.0/?method=artist.gettopalbums&artist=" +
                name +
                "&api_key=" +
                LastFmKey +
                "&autocorrect=1&limit=10&format=json");
            $.getJSON(url,
                function (json) {
                    //var i = Math.floor(Math.random() * 10) % 10;
                    var src = json.topalbums.album[1].image[3]["#text"];  
                    $(element).attr("src", src);
                });
        }
    </script>
    <script>
        $(document).ready(async function () {
            $("img").each(async function (index, element) {
                await creatArtistImg(element);
            });
        });
    </script>

    <div class="container-fluid">
        <header class="=header">
            <div class="row top-heading mt-5">
                <p class="col-md-12 font-weight-bold">Artists</p>
            </div>
        </header>
        

        <div class="container">
            <p>
                <a class="row text-dark" asp-action="Create">Create New</a>
            </p>
            <form class="row form-inline d-flex md-form form-sm mt-0" asp-controller="Artists" asp-action="Index">
                <button type="submit" class="fabutton pl-3"><i class="fa fa-search" aria-hidden="true"></i></button>
                <input class="col-md-11 form-control form-control-sm ml-3 w-75" type="text" name="searchString" placeholder="Search by Artist's Name"
                       aria-label="Search">
            </form>

            <div class="row mt-5 mb-5">
                @foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="mb-5 mr-4">
                            <a class="img-link" asp-controller="Artists" asp-action="Details" asp-route-id="@item.ArtistID">
                                <img class="rounded-circle z-depth-2 w-100 shadow" alt="@item.ArtistName" src=""
                                     data-holder-rendered="true">
                            </a>
                            <a class="font-weight-bold text-decoration-none text-dark" asp-controller="Artists" asp-action="Details" asp-route-id="@item.ArtistID">@item.ArtistName</a><br />
                            <a class="rate-link min-font-muted text-muted" href=""><span>Rated @item.AvgRate</span></a>
                            <div>
                                <a class="min-font-muted text-muted" asp-action="Edit" asp-route-id="@item.ArtistID">Edit |</a>
                                <a class="min-font-muted text-muted" asp-action="Delete" asp-route-id="@item.ArtistID"> Delete</a>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

